* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1.2rem;
}

#check {
    display: none;
    text-align: center;
    button {
        width: 70px;
        height: 30px;
        border: 1px solid blue;
        border-radius: 10px;
        background-color: green;
        color: #fff;
        font-size: 10px;
    }
}

h4 {
    display: inline-block;
}

/* #container {
    gap: 10%;
} */


#tab2 {
    border-collapse: collapse;
    & .field {
        background-color: #fff;
    }
    .subhover:hover {
        opacity: .5;
    }
    margin: 10px;
}

td {
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    background-color: #777;
}

.letters {
    width: inherit;
    height: inherit;
    text-align: center;
    border: none;
    resize: none;
    outline: none;
    font-weight: bold;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: rgb(0, 179, 255);
        border: 1px solid red;
        border-radius: 10%;
        transition: all .5s;
    }
}

.index {
    position: absolute;
    font-size: .5rem;
    padding-left: 1px;
    color: blue;
}

#output {
    max-width: 640px;
    margin: 10px;
}

#joistick {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 90px;
    height: 90px;
    border: 2px dashed green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    background-color: rgba(255, 255, 255, 0);
    opacity: .7;
}

#joistick:hover {
    opacity: 1;
}

#left,
#up,
#right,
#down {
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid green;
}

#left {
    left: 0%;
    top: 50%;
    transform: translateY(-50%) rotate(270deg); 
}

#up {
    top: 0%;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
}

#right {
    right: 0%;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

#down {
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}
#circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 187, 255);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 390px) {
    h1 {
        text-align: left;
        font-size: 1.1rem;
    }
    #container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
    }
    .letters {
        font-size: 1.1rem;
    }
}

@media (min-width: 391px) and (max-width: 640px) {
    #container {
        display: block;
    }
    #tab2 {
        float: left;
        & td {
            width: 20px;
            height: 20px;
        }
        & .letters {
            font-size: 1.1rem;
        }
    }
    #output {
        font-size: 1.15rem;
    }
}

@media (min-width: 440px) {
    #joistick {
        display: none;
    }
    @media (max-height: 440px) {
        #joistick {
            display: flex;
        }
        #tab2 {
            float: left;
        }
    }
}

@media (min-width: 641px) and (max-width: 991px) {
    #tab2 {
        float: left;
        margin: 30px;
    }
    #tab2 td {
        width: 24px;
        height: 24px;
    }
    #tab2 .letters {
        font-size: 1.3rem;
    }
    #output {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    #container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 60px;
    }
    #tab2 td {
        width: 36px;
        height: 36px;
    }
    #tab2 .letters {
        float: none;
        font-size: 1.5rem;
    }
    #output {
        font-size: 1.5rem;
    }
}

h4 {
    margin: 0;
}

#hcontent,
#vcontent {
    margin-bottom: 7px;
}
